.navLeft {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    h1 {
      color: white;
      font-size: 20px;
      width: 120px;
      margin-left: 10px;
    }
  }
}
